In [1]:
# import all the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# load the dataset
data = pd.read_csv('iris.csv')

In [3]:
# load the first five records of the dataset
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# load the last five rows of the dataset
data.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [6]:
# shape of the dataset
data.shape

(150, 5)

In [8]:
# To check if there are any null values in the dataset
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

# So from the above observation, it is clear that there are no NULL vlaues in the dataset

In [11]:
# Divide the dataset into independent and dependent variables
X = data.drop(columns = 'species')
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [13]:
Y = data['species']
print(Y)

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [14]:
# Divide the independent and dependent variables into training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3, random_state = 0)

# Gaussian Naive Bayes

It is an algorithm that can work on the continuous values

In [15]:
from sklearn.naive_bayes import GaussianNB

In [16]:
# create an object for Gaussian Naive Bayes
GNB = GaussianNB()

# Here we built a model for the Gaussian Naive Bayes by putting the training data on the algorithm so that the model can be trained easily

In [17]:
GNB.fit(X_train, Y_train)

GaussianNB()

In [18]:
# predict the model using a new test data
y_pred_test = GNB.predict(X_test)
print(y_pred_test)

['virginica' 'versicolor' 'setosa' 'virginica' 'setosa' 'virginica'
 'setosa' 'versicolor' 'versicolor' 'versicolor' 'virginica' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'setosa' 'versicolor' 'versicolor'
 'setosa' 'setosa' 'virginica' 'versicolor' 'setosa' 'setosa' 'virginica'
 'setosa' 'setosa' 'versicolor' 'versicolor' 'setosa' 'virginica'
 'versicolor' 'setosa' 'virginica' 'virginica' 'versicolor' 'setosa'
 'versicolor' 'versicolor' 'versicolor' 'virginica' 'setosa' 'virginica'
 'setosa' 'setosa']

In [21]:
# depict the accuracy score from the data
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Y_test, y_pred_test)
print("Accuracy of the data is:", accuracy)

Accuracy of the data is: 1.0

In [23]:
# depict the classification report from the data
from sklearn.metrics import classification_report
classification_report(Y_test, y_pred_test)

'              precision    recall  f1-score   support\n\n      setosa       1.00      1.00      1.00        16\n  versicolor       1.00      1.00      1.00        18\n   virginica       1.00      1.00      1.00        11\n\n    accuracy                           1.00        45\n   macro avg       1.00      1.00      1.00        45\nweighted avg       1.00      1.00      1.00        45\n'