In [1]:
# import all the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# load the dataset
data = pd.read_csv('LR.csv')

In [3]:
# display the first five rows of the dataset
data.head()

   Age  Salary  Purchased
0   19   19000          0
1   35   20000          0
2   26   43000          0
3   27   57000          0
4   19   76000          0

In [4]:
data

     Age  Salary  Purchased
0     19   19000          0
1     35   20000          0
2     26   43000          0
3     27   57000          0
4     19   76000          0
..   ...     ...        ...
395   46   41000          1
396   51   23000          1
397   50   20000          1
398   36   33000          0
399   49   36000          1

[400 rows x 3 columns]

In [5]:
# display the last five rows of the dataset
data.tail()

     Age  Salary  Purchased
395   46   41000          1
396   51   23000          1
397   50   20000          1
398   36   33000          0
399   49   36000          1

In [6]:
# shape of the dataset
data.shape

(400, 3)

In [7]:
# To check if there are any NULL values in the dataset
data.isnull().sum()

Age          0
Salary       0
Purchased    0
dtype: int64

# So from the above observation, it is clear that there are no NULL Values in the dataset.

In [8]:
# Divide the dataset into independent and dependent variables
X = data.drop(columns = 'Purchased')
print(X)

     Age  Salary
0     19   19000
1     35   20000
2     26   43000
3     27   57000
4     19   76000
..   ...     ...
395   46   41000
396   51   23000
397   50   20000
398   36   33000
399   49   36000

[400 rows x 2 columns]

In [9]:
Y = data['Purchased']
print(Y)

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [10]:
# Divide the independent and dependent variables into training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3, random_state = 0)

# BERNOULLI NAIVE BAYES

It works on the binary data

In [11]:
from sklearn.naive_bayes import BernoulliNB

In [12]:
# create an instrance of Bernoulli Naive Bayes
BerNB = BernoulliNB()

In [13]:
# Train the model for Bernoulli Naive Bayes using the training data
BerNB.fit(X_train, Y_train)

BernoulliNB()

In [14]:
# predict the new test data using the input data
Y_pred_test = BerNB.predict(X_test)
print(Y_pred_test)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0]

In [20]:
# To depict the accuracy between the actual data and the predicted data
from sklearn.metrics import accuracy_score
ac = accuracy_score(Y_test, Y_pred_test)*100.0
print("Accuracy of the data is:", ac)

Accuracy of the data is: 65.83333333333333

In [23]:
# To create the confusion matrix between the actual and predicted output
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred_test)
print(cm)

[[79  0]
 [41  0]]

In [24]:
# To create the classification report between the actual and predicted output
from sklearn.metrics import classification_report
cr = classification_report(Y_test, Y_pred_test)
print(cr)

              precision    recall  f1-score   support

           0       0.66      1.00      0.79        79
           1       0.00      0.00      0.00        41

    accuracy                           0.66       120
   macro avg       0.33      0.50      0.40       120
weighted avg       0.43      0.66      0.52       120

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))