In [1]:
# import all the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# load the data
data = pd.read_csv('fake-news-train.csv')

In [3]:
# display the first five rows of the dataset
print(data.head())

   id                                              title              author  \
0   0  House Dem Aide: We Didn’t Even See Comey’s Let...       Darrell Lucus
1   1  FLYNN: Hillary Clinton, Big Woman on Campus - ...     Daniel J. Flynn
2   2                  Why the Truth Might Get You Fired  Consortiumnews.com
3   3  15 Civilians Killed In Single US Airstrike Hav...     Jessica Purkiss
4   4  Iranian woman jailed for fictional unpublished...      Howard Portnoy

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

In [4]:
# display the last five rows of the dataset
print(data.tail())

          id                                              title  \
20795  20795  Rapper T.I.: Trump a ’Poster Child For White S...
20796  20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797  20797  Macy’s Is Said to Receive Takeover Approach by...
20798  20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799  20799                          What Keeps the F-35 Alive

                                          author  \
20795                              Jerome Hudson
20796                           Benjamin Hoffman
20797  Michael J. de la Merced and Rachel Abrams
20798                                Alex Ansary
20799                              David Swanson

                                                    text  label
20795  Rapper T. I. unloaded on black celebrities who...      0
20796  When the Green Bay Packers lost to the Washing...      0
20797  The Macy’s of today grew from the union of sev...      0
20798  NATO, Russia To Hold Parallel Exercises In Bal...      1
20799    David Swanson is an author, activist, journa...      1

In [5]:
# display the shape of the dataset
print(data.shape)

(20800, 5)

In [6]:
# depict the detailed information about all the columns in the entire dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB
None

In [7]:
# To depict the descriptive summary for the entire dataset
print(data.describe())

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [8]:
# To check if there are any NULL Values in the dataset
print(data.isnull().sum())

id           0
title      558
author    1957
text        39
label        0
dtype: int64

# Observation:

From the above observation, it is clear that there are 3 columns i.e. title, author and text columns in the dataset that are not null.

In [9]:
# Drop the NAN Values
data = data.dropna()

In [10]:
print(data.head())

   id                                              title              author  \
0   0  House Dem Aide: We Didn’t Even See Comey’s Let...       Darrell Lucus
1   1  FLYNN: Hillary Clinton, Big Woman on Campus - ...     Daniel J. Flynn
2   2                  Why the Truth Might Get You Fired  Consortiumnews.com
3   3  15 Civilians Killed In Single US Airstrike Hav...     Jessica Purkiss
4   4  Iranian woman jailed for fictional unpublished...      Howard Portnoy

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

In [11]:
# To check if there are any NULL Values in the dataset
print(data.isnull().sum())

id        0
title     0
author    0
text      0
label     0
dtype: int64

# Observation:

There are now no NULL Values in the dataset.

In [12]:
# Get all the independent features
X = data.drop(columns = 'label', axis = 1)
print(X)

          id                                              title  \
0          0  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2          2                  Why the Truth Might Get You Fired
3          3  15 Civilians Killed In Single US Airstrike Hav...
4          4  Iranian woman jailed for fictional unpublished...
...      ...                                                ...
20795  20795  Rapper T.I.: Trump a ’Poster Child For White S...
20796  20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797  20797  Macy’s Is Said to Receive Takeover Approach by...
20798  20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799  20799                          What Keeps the F-35 Alive

                                          author  \
0                                  Darrell Lucus
1                                Daniel J. Flynn
2                             Consortiumnews.com
3                                Jessica Purkiss
4                                 Howard Portnoy
...                                          ...
20795                              Jerome Hudson
20796                           Benjamin Hoffman
20797  Michael J. de la Merced and Rachel Abrams
20798                                Alex Ansary
20799                              David Swanson

                                                    text
0      House Dem Aide: We Didn’t Even See Comey’s Let...
1      Ever get the feeling your life circles the rou...
2      Why the Truth Might Get You Fired October 29, ...
3      Videos 15 Civilians Killed In Single US Airstr...
4      Print \nAn Iranian woman has been sentenced to...
...                                                  ...
20795  Rapper T. I. unloaded on black celebrities who...
20796  When the Green Bay Packers lost to the Washing...
20797  The Macy’s of today grew from the union of sev...
20798  NATO, Russia To Hold Parallel Exercises In Bal...
20799    David Swanson is an author, activist, journa...

[18285 rows x 4 columns]

In [13]:
Y = data['label']

In [14]:
print(Y)

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 18285, dtype: int64

In [15]:
print(X.shape)

(18285, 4)

In [16]:
print(Y.shape)

(18285,)

In [17]:
import tensorflow as tf

In [18]:
tf.__version__

'2.7.0'

In [19]:
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense

In [20]:
# Vocabulary size
voc_size = 5000

# One Hot Representation

In [21]:
messages = X.copy()

In [22]:
messages

,id,title,author,text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ..."
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...
...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal..."
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa..."

In [23]:
# place the indexes in the messages dataset
messages.reset_index(inplace = True)

In [24]:
messages.head()

,index,id,title,author,text
0,0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ..."
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...

In [25]:
answer = messages.head(100)

In [26]:
# Performing the Data Preprocessing on the Corpus text
import nltk
import re
from nltk.corpus import stopwords

In [27]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [28]:
# Preprocessing of the data
from nltk.stem.porter import PorterStemmer

# create the object for porter stemmer
ps = PorterStemmer()

corpus = []

for i in range(0, len(answer)):
    print(i)
    # remove all the special characters with ' '
    review = re.sub('[^a-zA-Z]', ' ', answer['title'][i])
    # convert the text into lower case
    review = review.lower()
    # split the text into words
    review = review.split()
    
    
    # extract all the non stop words and perform the stemming operation on it
    review = [ps.stem(word) for word in review if(word not in stopwords.words('english'))]
    # join all the words in the review
    review = ' '.join(review)
    # append all the words in the corpus
    corpus.append(review)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [29]:
print(corpus)

['hous dem aid even see comey letter jason chaffetz tweet', 'flynn hillari clinton big woman campu breitbart', 'truth might get fire', 'civilian kill singl us airstrik identifi', 'iranian woman jail fiction unpublish stori woman stone death adulteri', 'jacki mason hollywood would love trump bomb north korea lack tran bathroom exclus video breitbart', 'beno hamon win french socialist parti presidenti nomin new york time', 'back channel plan ukrain russia courtesi trump associ new york time', 'obama organ action partner soro link indivis disrupt trump agenda', 'bbc comedi sketch real housew isi caus outrag', 'russian research discov secret nazi militari base treasur hunter arctic photo', 'us offici see link trump russia', 'ye paid govern troll social media blog forum websit', 'major leagu soccer argentin find home success new york time', 'well fargo chief abruptli step new york time', 'anonym donor pay million releas everyon arrest dakota access pipelin', 'fbi close hillari', 'chuck todd buzzfe donald trump polit favor breitbart', 'monica lewinski clinton sex scandal set american crime stori', 'rob reiner trump mental unstabl breitbart', 'abort pill order rise latin american nation zika alert new york time', 'nuke un histor treati ban nuclear weapon', 'exclus islam state support vow shake west follow manchest terrorist massacr breitbart', 'humili hillari tri hide camera caught min ralli', 'andrea tantaro fox news claim retali sex harass complaint new york time', 'hillari clinton becam hawk new york time', 'chuck todd buzzfe eic publish fake news breitbart', 'bori johnson brexit leader fumbl new york time', 'texa oil field rebound price lull job left behind new york time', 'bayer deal monsanto follow agribusi trend rais worri farmer new york time', 'russia move ban jehovah wit extremist new york time', 'still danger zone januari th', 'open thread u elect', 'democrat gutierrez blame chicago gun violenc nra breitbart', 'avoid peanut avoid allergi bad strategi new york time', 'mri show detail imag week unborn babi breitbart', 'best kind milk dairi', 'ryan locht drop speedo usa retail new york time', 'conserv urg session clean obama civil right divis breitbart', 'intern inquiri seal fate roger ail fox new york time', 'press tv debat duff lebanon hezbollah aoun presid video', 'samsung combust galaxi note unveil new smartphon new york time', 'poland vow referendum migrant quota amidst eu pressur public voic heard breitbart', 'spark inner revolut', 'studi half car crash involv driver distract cell phone breitbart', 'trump elect spark individu collect heal', 'ep fade black jimmi church w laura eisenhow restor balanc video', 'cognit true islam book review', 'donald trump win elect biggest miracl us polit histori', 'mind eat way fight bing new york time', 'major potenti impact corpor tax overhaul new york time', 'wonder glp like day elect', 'maker world smallest machin award nobel prize chemistri new york time', 'massiv anti trump protest union squar nyc live stream', 'review lion bring tear lost boy wipe dri googl new york time', 'u gener islam state chemic attack impact u forc', 'juri find oregon standoff defend guilti feder conspiraci gun charg', 'clinton campaign stun fbi reportedli reopen probe hillari clinton email', 'penc speak anti abort ralli new york time', 'berni sander say media trump gutless polit coward', 'make briquett daili wast', 'treason nyt vow reded report', 'dress like woman mean new york time', 'ella brennan still feed lead new orlean new york time', 'press asia agenda obama tread lightli human right new york time', 'democrat percent chanc retak senat new york time', 'judg spank transgend obsess obama lie redflag news', 'u diplomat urg strike assad syria new york time', 'franken call independ investig trump putin crush breitbart', 'louisiana simon bile u presidenti race tuesday even brief new york time', 'turkey threaten open migrant land passag europ row dutch', 'huma weiner dog hillari', 'colin kaepernick start black panther inspir youth camp wow', 'trump immigr polici explain new york time', 'mari tyler moor mourn dick van dyke star new york time', 'poison', 'trump fan ralli across nation support presid new york time', 'fox biz report help bash clinton ralli cover trump pack event day', 'fiction podcast worth listen new york time', 'mike birbiglia tip make small hollywood anywher new york time', 'invest strategist forecast collaps timelin last gasp econom cycl come', 'venezuela muzzl legislatur move closer one man rule new york time', 'whether john mccain mitt romney donald trump democrat alway run war women tactic destroy republican candid', 'breitbart news daili trump boom breitbart', 'white hous confirm gitmo transfer obama leav offic', 'poll voter heard democrat elect candid breitbart', 'migrant confront judgment day old deport order new york time', 'n u yale su retir plan fee new york time', 'technocraci real reason un want control internet', 'american driver regain appetit ga guzzler new york time', 'hillari clinton build million war chest doubl donald trump new york time', 'trump catch sick report snuck interview priceless respons', 'senat contact russian govern week', 'imag perfectli illustr struggl dakota access pipelin', 'washington state take refuge muslim rest countri take refuge muslim breitbart', 'ncaa big keep watch eye texa bathroom bill breitbart', 'massiv espn financi subscrib loss drag disney first quarter sale breitbart', 'megyn kelli contract set expir next year prime big show new york time', 'teacher suspend allow student hit trump pinata cinco de mayo', 'break trump express concern anthoni weiner illeg access classifi info month ago truthfe']

In [30]:
# convert the words into one hot representation
onehot_representation = [one_hot(words, voc_size) for words in corpus]

In [31]:
print(onehot_representation)

[[4307, 14, 480, 4130, 2480, 1239, 549, 620, 1205, 3360], [950, 1462, 3580, 651, 4968, 4606, 3631], [329, 4157, 1938, 3790], [658, 4199, 1460, 3864, 3607, 178], [1858, 4968, 3634, 1475, 2453, 2395, 4968, 3491, 3263, 534], [652, 4449, 4257, 3528, 2892, 4867, 1153, 4339, 3567, 2434, 1849, 4284, 4951, 2831, 3631], [3008, 3969, 338, 185, 1124, 3905, 3952, 3100, 1933, 1714, 1344], [4201, 4430, 4587, 2496, 3688, 4838, 4867, 3908, 1933, 1714, 1344], [4883, 1217, 2312, 2882, 4502, 766, 3394, 3, 4867, 2346], [2333, 2649, 2173, 1391, 4349, 4275, 1327, 2491], [2229, 4750, 3790, 3042, 1595, 115, 4434, 1155, 1474, 1057, 1817], [3864, 2322, 2480, 766, 4867, 3688], [1456, 3200, 4939, 3553, 1348, 4233, 4503, 4083, 959], [1416, 93, 3728, 833, 3161, 4086, 2914, 1933, 1714, 1344], [3669, 1298, 1824, 2738, 341, 1933, 1714, 1344], [4502, 1560, 2544, 764, 524, 1752, 466, 281, 2826, 607], [3479, 3574, 1462], [4626, 1168, 1366, 981, 4867, 220, 4846, 3631], [3179, 3803, 3580, 2794, 4699, 2514, 1718, 4526, 2395], [2699, 3129, 4867, 1724, 2615, 3631], [1037, 4128, 3599, 3023, 2655, 1718, 81, 3816, 3952, 1933, 1714, 1344], [3326, 684, 813, 325, 2980, 2574, 891], [4951, 2265, 2245, 1911, 3761, 962, 4765, 3421, 888, 100, 1637, 3631], [2415, 1462, 2364, 4610, 3189, 2387, 1804, 4998], [2780, 56, 450, 110, 2678, 4525, 2794, 733, 94, 1933, 1714, 1344], [1462, 3580, 3829, 626, 1933, 1714, 1344], [4626, 1168, 1366, 4503, 3410, 3887, 110, 3631], [83, 2688, 3371, 4394, 3666, 1933, 1714, 1344], [3856, 4564, 4141, 180, 3554, 1821, 140, 4294, 3165, 1933, 1714, 1344], [2232, 1866, 3896, 3421, 994, 1354, 4219, 343, 3698, 1933, 1714, 1344], [3688, 2447, 2980, 2693, 4475, 4181, 1933, 1714, 1344], [2690, 4796, 3249, 3329, 1636], [2983, 3317, 90, 377], [358, 3992, 1034, 849, 536, 3197, 1760, 3631], [2403, 4879, 2403, 2109, 1552, 4848, 1933, 1714, 1344], [4732, 2403, 3368, 239, 2509, 4089, 482, 3631], [4931, 4843, 793, 2809], [1197, 2335, 988, 284, 1817, 4996, 1933, 1714, 1344], [1884, 2170, 3966, 3855, 4883, 3327, 473, 880, 3631], [652, 1138, 2687, 3532, 1518, 1626, 450, 1933, 1714, 1344], [2789, 3176, 687, 2399, 899, 3469, 499, 1763, 2831], [4830, 1913, 36, 3734, 1966, 1933, 69, 1933, 1714, 1344], [1562, 3761, 3940, 3329, 771, 3349, 696, 4086, 273, 2680, 1202, 3631], [4239, 4996, 823], [2475, 3276, 2406, 833, 1526, 2449, 3007, 2274, 2740, 3631], [4867, 377, 4239, 3129, 4449, 3766], [2, 883, 1510, 2937, 4968, 3567, 2872, 2379, 4999, 3924, 2831], [1937, 1299, 2265, 1060, 2231], [981, 4867, 338, 377, 3306, 310, 3864, 220, 2840], [154, 1943, 2323, 3778, 4736, 1933, 1714, 1344], [1416, 1555, 1385, 2097, 762, 39, 1933, 1714, 1344], [987, 2875, 2142, 3508, 377], [390, 595, 1063, 3318, 969, 897, 1060, 3223, 1933, 1714, 1344], [1843, 1202, 4867, 4907, 3263, 1899, 1914, 3112, 2342], [2231, 2782, 1978, 2199, 566, 1654, 414, 2910, 2394, 1933, 1714, 1344], [90, 4330, 2265, 2245, 2464, 453, 1385, 90, 3151], [4457, 3161, 783, 1517, 2104, 2159, 3539, 3874, 536, 3825], [3580, 4259, 3632, 3479, 2993, 3624, 1659, 1462, 3580, 4460], [1262, 3875, 1202, 1037, 4998, 1933, 1714, 1344], [368, 641, 3573, 4233, 4867, 2267, 220, 2757], [3280, 1980, 2256, 4505], [2326, 2535, 3761, 3813, 4927], [3819, 2142, 4968, 4181, 1933, 1714, 1344], [774, 1027, 2690, 4449, 2779, 1933, 2396, 1933, 1714, 1344], [2789, 3544, 2346, 4883, 2396, 1099, 2040, 473, 1933, 1714, 1344], [358, 719, 4442, 4763, 4794, 1933, 1714, 1344], [2028, 1499, 1069, 3981, 4883, 254, 1092, 110], [90, 1563, 2170, 3430, 4833, 3096, 1933, 1714, 1344], [2225, 1264, 2291, 4408, 4867, 1864, 1771, 3631], [3034, 1555, 1400, 90, 3952, 1599, 1784, 4130, 491, 1933, 1714, 1344], [4486, 473, 2983, 3329, 655, 1195, 4383, 572, 424], [3353, 4576, 3291, 1462], [314, 1080, 1523, 1510, 3533, 1514, 384, 840, 1439], [4867, 2120, 2620, 1455, 1933, 1714, 1344], [4806, 3955, 384, 633, 658, 4001, 2699, 1462, 1933, 1714, 1344], [4036], [4867, 1976, 4998, 1288, 81, 1911, 1763, 1933, 1714, 1344], [450, 2610, 4927, 2401, 4019, 3580, 4998, 1338, 4867, 4870, 2365, 3508], [1475, 2293, 1073, 1008, 1933, 1714, 1344], [1455, 4446, 4567, 3280, 1338, 4257, 4, 1933, 1714, 1344], [3993, 2188, 3126, 3736, 1625, 1952, 2003, 1007, 4753, 2881], [3561, 4887, 3504, 2447, 3017, 2269, 1954, 1744, 1933, 1714, 1344], [3929, 3977, 4173, 4731, 4296, 981, 4867, 358, 71, 806, 3209, 584, 2470, 4914, 2747, 3442], [3631, 110, 2256, 4867, 1273, 3631], [2007, 4307, 3296, 952, 3381, 4883, 1311, 4601], [4963, 3528, 1202, 358, 377, 3442, 3631], [3329, 2968, 446, 3508, 2646, 3370, 3599, 1933, 1714, 1344], [1095, 90, 3047, 3079, 2937, 4587, 4216, 1933, 1714, 1344], [3539, 1391, 3991, 684, 1388, 456, 4804], [1718, 2449, 4507, 4792, 4321, 159, 1933, 1714, 1344], [1462, 3580, 4056, 764, 3209, 654, 4543, 981, 4867, 1933, 1714, 1344], [4867, 4698, 1741, 4927, 1195, 2086, 3108, 3542], [4794, 4085, 2229, 4939, 2509], [239, 1167, 1771, 4278, 281, 2826, 607], [3063, 2245, 1854, 2538, 752, 1893, 4934, 1854, 2538, 752, 3631], [3037, 651, 4199, 529, 695, 3856, 4284, 2496, 3631], [1843, 2225, 4349, 2534, 4728, 613, 515, 3588, 163, 2959, 3631], [3219, 710, 2710, 2514, 1714, 4935, 3888, 681, 651, 2403, 1933, 1714, 1344], [2510, 3849, 4524, 829, 46, 4867, 559, 2813, 704, 3135], [2803, 4867, 1836, 4506, 428, 4576, 858, 2826, 2012, 533, 903, 1316, 2269]]

In [32]:
# Embedding Representation

In [33]:
sent_length = 20
embedding_padding_representation = pad_sequences(onehot_representation, padding = 'pre', maxlen = sent_length)

In [34]:
print(embedding_padding_representation)

[[   0    0    0 ...  620 1205 3360]
 [   0    0    0 ... 4968 4606 3631]
 [   0    0    0 ... 4157 1938 3790]
 ...
 [   0    0    0 ... 1933 1714 1344]
 [   0    0    0 ... 2813  704 3135]
 [   0    0    0 ...  903 1316 2269]]

In [35]:
# padding representation at index 0 
print(embedding_padding_representation[0])

[   0    0    0    0    0    0    0    0    0    0 4307   14  480 4130
 2480 1239  549  620 1205 3360]

# Create the LSTM Model for the embedding layer

In [40]:
embedding_vector_feature = 40
# initialize the sequential layer
model = Sequential()
# add the embedding layer into the model
model.add(Embedding(voc_size, embedding_vector_feature, input_length = sent_length))
# add the LSTM Layer into the model
model.add(LSTM(100))
# Add the dense layer into the model
model.add(Dense(1, activation = 'sigmoid'))
# compile the model
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])
# get the summary of the model
print(model.summary())

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, 20, 40)            200000

 lstm_2 (LSTM)               (None, 100)               56400

 dense_1 (Dense)             (None, 1)                 101

=================================================================
Total params: 256,501
Trainable params: 256,501
Non-trainable params: 0
_________________________________________________________________
None

In [48]:
len(embedding_padding_representation)

100

In [49]:
print(Y)

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 18285, dtype: int64

In [50]:
Y.shape

(18285,)

In [51]:
Y = Y.head(100)

In [52]:
Y

0      1
1      0
2      1
3      1
4      1
      ..
108    0
109    0
110    0
111    0
112    1
Name: label, Length: 100, dtype: int64

In [54]:
Y.shape

(100,)

In [55]:
# convere the independent and dependent features into array
X_final = np.array(embedding_padding_representation)
Y_final = np.array(Y)

In [57]:
print(X_final.shape)
print(Y_final.shape)

(100, 20)
(100,)

In [59]:
# Divide the independent and dependent features into training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X_final, Y_final, test_size = 0.33, random_state = 42)

# Model Training

In [60]:
model.fit(X_train, Y_train, validation_data = (X_test, Y_test), epochs = 10, batch_size = 64)

Epoch 1/10
2/2 [==============================] - 3s 404ms/step - loss: 0.6941 - accuracy: 0.2985 - val_loss: 0.6913 - val_accuracy: 0.5455
Epoch 2/10
2/2 [==============================] - 0s 34ms/step - loss: 0.6849 - accuracy: 0.6567 - val_loss: 0.6890 - val_accuracy: 0.5455
Epoch 3/10
2/2 [==============================] - 0s 33ms/step - loss: 0.6769 - accuracy: 0.6567 - val_loss: 0.6866 - val_accuracy: 0.5455
Epoch 4/10
2/2 [==============================] - 0s 33ms/step - loss: 0.6688 - accuracy: 0.6567 - val_loss: 0.6837 - val_accuracy: 0.5455
Epoch 5/10
2/2 [==============================] - 0s 35ms/step - loss: 0.6579 - accuracy: 0.6567 - val_loss: 0.6807 - val_accuracy: 0.5455
Epoch 6/10
2/2 [==============================] - 0s 33ms/step - loss: 0.6448 - accuracy: 0.6567 - val_loss: 0.6774 - val_accuracy: 0.5455
Epoch 7/10
2/2 [==============================] - 0s 52ms/step - loss: 0.6294 - accuracy: 0.6567 - val_loss: 0.6736 - val_accuracy: 0.5455
Epoch 8/10
2/2 [==============================] - 0s 32ms/step - loss: 0.6073 - accuracy: 0.6567 - val_loss: 0.6708 - val_accuracy: 0.5455
Epoch 9/10
2/2 [==============================] - 0s 33ms/step - loss: 0.5764 - accuracy: 0.6567 - val_loss: 0.6761 - val_accuracy: 0.5455
Epoch 10/10
2/2 [==============================] - 0s 36ms/step - loss: 0.5352 - accuracy: 0.6567 - val_loss: 0.7101 - val_accuracy: 0.5455

# Adding the Dropout layer

In [61]:
from tensorflow.keras.layers import Dropout

embedding_vector_feature = 40
# initialize the sequential layer
model = Sequential()
# add the embedding layer into the model
model.add(Embedding(voc_size, embedding_vector_feature, input_length = sent_length))
# add the LSTM Layer into the model
model.add(LSTM(100))
# add the dropout layer into the LSTM Model to reduce the number of neurons
model.add(Dropout(0.3))
# Add the dense layer into the model
model.add(Dense(1, activation = 'sigmoid'))
# compile the model
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])
# get the summary of the model
print(model.summary())

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_3 (Embedding)     (None, 20, 40)            200000

 lstm_3 (LSTM)               (None, 100)               56400

 dropout (Dropout)           (None, 100)               0

 dense_2 (Dense)             (None, 1)                 101

=================================================================
Total params: 256,501
Trainable params: 256,501
Non-trainable params: 0
_________________________________________________________________
None

# Performance Metrics and Accuracy

In [62]:
from sklearn.metrics import confusion_matrix

In [63]:
Y_pred = model.predict(X_test)

In [81]:
cm = confusion_matrix(Y_test, Y_pred.round())

In [82]:
print(cm)

[[ 4 14]
 [ 4 11]]

In [83]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(Y_test,Y_pred.round(), normalize = False)

In [84]:
print(ac)

15

In [87]:
from sklearn.metrics import classification_report
cr = classification_report(Y_test, Y_pred.round())
print(cr)

              precision    recall  f1-score   support

           0       0.50      0.22      0.31        18
           1       0.44      0.73      0.55        15

    accuracy                           0.45        33
   macro avg       0.47      0.48      0.43        33
weighted avg       0.47      0.45      0.42        33