# SERIES
A series object can be defined as the one dimensional labelled array.

It has elements of same or different types. It is much similar to lists.

In [1]:
import pandas as pd

In [2]:
data = [1, 2, 3, 4, 5]

# creating the series object from the list
series_obj = pd.Series(data)
print(series_obj)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# checking the data type of the data
print(type(series_obj))

<class 'pandas.core.series.Series'>

In [4]:
# changing the index name in series object
obj = pd.Series(data, index = ['a','b','c','d','e'])
print(obj)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
# changing another set of index names in the series onject
obj1 = pd.Series(data, index = ['a1','b1','c1','d1','e1'])
print(obj1)

a1    1
b1    2
c1    3
d1    4
e1    5
dtype: int64

# DATAFRAME

A Dataframe can be defined as a two dimensional array of elements with different types

mutuable size

labelled axis

arithmetic operations on rows and columns

In [1]:
import pandas as pd

data = [1, 2, 3, 4, 5]

# creation of dataframe using list

df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
# creation of dataframe using dictionary
dict = {'fruits': ['apple','banana','guava','oranges','papaya'], 'count' : [10, 20, 30, 40, 50]}
print(dict)

df1 = pd.DataFrame(dict)
print(df1)

{'fruits': ['apple', 'banana', 'guava', 'oranges', 'papaya'], 'count': [10, 20, 30, 40, 50]}
    fruits  count
0    apple     10
1   banana     20
2    guava     30
3  oranges     40
4   papaya     50

In [5]:
# creation of series
ser = pd.Series([10, 20, 30, 40, 50], index = ['a','b','c','d','e'])
print(ser)

# convert the series into DataFrame
df = pd.DataFrame(ser)
print(df)

a    10
b    20
c    30
d    40
e    50
dtype: int64
    0
a  10
b  20
c  30
d  40
e  50

In [12]:
# creation of DataFrame using numpy array
import numpy as np
import pandas as pd
x= np.array([["Parag","Ayush"] , [98657,467964]])
print(x)
# convert the numpy array into DataFrame
df = pd.DataFrame({'name' : x[0] , 'mobile' : x[1]})
print(df)

[['Parag' 'Ayush']
 ['98657' '467964']]
    name  mobile
0  Parag   98657
1  Ayush  467964