# Measures of Dispersion

In [1]:
# Variance
ages = [23, 43, 22, 56, 74, 32, 68, 98, 45, 32]

In [2]:
import numpy as np

In [3]:
mean = np.mean(ages)

In [4]:
mean

49.3

In [5]:
var = np.var(ages)

In [6]:
var

547.01

In [7]:
std = np.std(ages)

In [8]:
std

23.388244910638335

In [9]:
import pandas as pd

In [16]:
data = [[10, 12, 13], [43, 23,45], [32, 34, 21]]

In [17]:
data = pd.DataFrame(data, columns = ["A","B","C"])

In [18]:
data

    A   B   C
0  10  12  13
1  43  23  45
2  32  34  21

In [19]:
# To get the variance for the dataset columns wise
data.var(axis = 0)

A    282.333333
B    121.000000
C    277.333333
dtype: float64

In [20]:
data.var(axis = 1)

0      2.333333
1    148.000000
2     49.000000
dtype: float64